<div class="keyboard">
  <button
    class="key"
    *ngFor="let key of keyboard.keys.entries()"
    style="cursor: default"
    mat-raised-button
    color="primary"
    (pointerdown)="onKeyPressed($event, key)"
    (pointerup)="onKeyReleased($event, key)"
    (pointerleave)="onKeyReleased($event, key)"
  >
    {{ key[0] }}
  </button>
</div>

<div class="keyboard">

  <div class="item">
    <h4>Waveform Picker</h4>
    <mat-button-toggle-group (change)="onWaveformChanged($event)">
      <mat-button-toggle checked value="sine">sine</mat-button-toggle>
      <mat-button-toggle value="sawtooth">sawtooth</mat-button-toggle>
      <mat-button-toggle value="square">square</mat-button-toggle>
      <mat-button-toggle value="triangle">triangle</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  
  <div class="item">
    <h4>Volume = {{ volume.value | percent }}</h4>
    <mat-slider
    #volume
    color="primary"
    min="0"
    max="1"
    step="0.01"
    value="1"
    thumbLabel
    (valueChange)="onVolumeChanged($event)"
    >
  </mat-slider>
</div>

</div>