.align-flex-end{
  align-self: flex-end;
}
.justify-center{
  justify-self: center;
}

.flex{
  display: flex;
}

#header{
  width: 100%;
  height: 10%;
  background: #424242;
  display: flex;
}

#header h1{
  color: gold;
}
