<div class="container">
  <div class="keyboard">
    <mat-grid-list [cols]="keyboard.keys.size" rowHeight="100px">
      <mat-grid-tile *ngFor="let key of keyboard.keys.entries()">

        <button mat-flat-button color="primary" (pointerdown)="onKeyPressed($event, key)"
          (pointerup)="onKeyReleased($event, key)" (pointerleave)="onKeyReleased($event, key)">
          {{key[0]}}
        </button>

      </mat-grid-tile>
    </mat-grid-list>

    <div class="volume-slider">
      <h2>Volume</h2>
      <mat-slider color="primary" min="0" max="1" step="0.01" value="1" thumbLabel (valueChange)="onVolumeChange($event)">
      </mat-slider>
    </div>

    <div class="waveform-picker">
      <h2>Waveform Picker</h2>
      <mat-button-toggle-group (change)="onWaveformChange($event)">
        <mat-button-toggle value="sine">sine</mat-button-toggle>
        <mat-button-toggle value="sawtooth">sawtooth</mat-button-toggle>
        <mat-button-toggle value="square">square</mat-button-toggle>
        <mat-button-toggle value="triangle">triangle</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

  </div>
</div>
