.osc-slider {
    float: left;
    width: 25%;
}

.volume-slider {
    float: left;
    width: 25%;
}

.waveform-picker {
    float: left;
    width: 50%;
}

.adsr-slider {
    float: left;
    width: 33%;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}