<!-- The actual dynamically generated window array -->
<ng-template class="container" appAnchorHost></ng-template>

<button
  name="module-selector"
  mat-icon-button
  [matMenuTriggerFor]="menu"
  *ngIf="maxWindowCount !== windows.length"
>
  <mat-icon color="primary">add_box</mat-icon>
  <mat-menu #menu="matMenu">
    <button
      *ngFor="let component of componentsList"
      mat-menu-item
      (click)="onModuleSelected(component)"
    >
      <span>{{ component.component.name }}</span>
    </button>
  </mat-menu>
</button>
